<h1>Sign up</h1>

<%= form_for(:user, url: users_path) do |f| %>
	
	<%= f.text_field :username, :placeholder => "Name:" %>
	<%= f.email_field :email, :placeholder => "Email:" %> 
	<%= f.password_field :password, :placeholder => "Password:" %>
	<%= f.password_field :password_confirmation, :placeholder => "Password Confirmation:" %> 
	<%= f.submit "Submit", class: "btn-submit" %>

<% end %>