<h1>Sign up</h1>

<%= form_for :user, url: '/users', html: {class: "form"} do |f| %>

  Name: <%= f.text_field :username %>
  Email: <%= f.email_field :email %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <%= f.submit "Submit" %>

<% end %>