<div class="signup">
  <div class="container">
    <div class="form">

      <h1>Sign up</h1>

      <%= form_for(@user) do |f| %>
        
        <%= f.text_field :username, :placeholder => "Name" %>
        <%= f.email_field :email, :placeholder => "Email" %>
        <%= f.password_field :password, :placeholder => "Password" %>
        <%= f.submit "Submit", class: "btn btn-danger btn-lg" %>

      <% end %>
  
    </div>
  </div>
</div>
